.App {
  text-align: center;
}

.addUser {
  padding: 1em;
}

.displayUser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2.5em;
  padding: 5em;
  align-self: center;
  justify-items: center;
  align-items: center;
}

